.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.model-viewer {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-selector {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.roomAndImagesContainer{
  display: flex;
  flex-direction: row;
 
}
.imagesBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.imagesBox img{
  width: 400px;
  height: 400px;
}
.App-header {
  background-color: #cfadb2;
  padding: 20px;
  color: rgb(49, 6, 6);
  text-align: center;
}
